<a href="https://colab.research.google.com/github/Richachowdary/python-module-3/blob/master/Copy_of_Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Assignment 1

In [ ]:
Question 1

In [ ]:
 n=list(input("Input a binary number"))
value=0
for i in range(len(n)):
    digit=n.pop()
    if digit == '1':
        value=value+pow(2,i)
print("The decimal value of the number is", value)

Input a binary number10010
The decimal value of the number is 18

In [ ]:
Question 2

In [ ]:
 def Fibonacci(n):      
    f1=0
    f2=1
    if (n<1): 
        return
    for x in range(0,n): 
        print(f2) 
        next=f1+f2 
        f1=f2 
        f2=next
Fibonacci(n=int(input("Enter the number of fibonacci numbers to be print")))

Enter the number of fibonacci numbers to be print10
1
1
2
3
5
8
13
21
34
55

In [ ]:
Question 3

In [ ]:
 n=int(input("Multiplication table of"))
for i in range(1, 11):
   print(n, 'x',i, '=',n*i)

Multiplication table of2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
Question 4

In [ ]:
 n=int(input('How many numbers'))
s=0
for m in range(n):
    a=int(input('Enter number'))
    s+=a
avg=s/n
print('Average is ', avg)

How many numbers5
Enter number1
Enter number2
Enter number3
Enter number4
Enter number5
Average is  3.0

In [ ]:
 rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*",end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *